* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;  
}
body {
  display: grid;
  place-items: center;
  width: 100%;
  background: #211e20;
  color: #e9efec;
  padding: 100px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}
h1 {
  color: #a0a08b;
  font-family:'Courier New', Courier, monospace;
  text-align: right;
}
hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #555568;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box {
  width: auto;
  height: auto;
  outline: 1px solid #555568;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px
}