* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;  
}
body {
  display: grid;
  place-items: center;
  width: 100%;
  background: #211e20;
  color: #e9efec;
  padding: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: left;
}
h1 {
  color: #a0a08b;
  font-family:'Courier New', Courier, monospace;
  font-size: 2rem;
  text-align: center;
}
hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #555568;
  margin-top: 10px;
  margin-bottom: 10px;
}
b {
  color: #a0a08b;
}
ul {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
code {
  color: #555568;
}
.box {
  width: 1000px;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  outline: 1px solid #555568;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px
}
.box ul {
  list-style-type: none;
  padding: 0;
}
.box b {
  grid-column: 1;
}